

.produit > div
{
	width: 150px;
	height: 150px;
	border-radius: 10px;

	/*border:#cd9212 5px solid;*/
	position:relative
}

.produit img
{
	top:0;
	left:0;
	width: 150px;
	height: 150px;
	position:absolute;

	background-color:rgba(0,0,0,0);

	border:0 solid white;
	border-radius:10px;

	transition:
		border 0.05s ease-out 0.05s,
		width 0.15s,
		height 0.15s,
		border-radius 0.15s,
		top 0.15s,
		left 0.15s,
		background-color 0.1s 0.05s;
}

.produit img:hover
{
	top:-25px;
	left:-50px;
	border:1px solid grey;
	border-radius:15px;
	width: 250px;
	height: 250px;
	transition:
		width 0.5s 0.5s,
		height 0.5s 0.5s,
		border-radius 0.5s 0.5s,
		top 0.5s 0.5s,
		left 0.5s 0.5s,
		border 0s 0.5s,
		background-color 0.2s 0.5s;

	background-color:#fff;
}

#img4l
{
	border:#007aee 20px solid;
	border-radius:20px;
}
.banniereShop
{
	font-size: 24px;
	color: #fff;
	border: 1px solid #444;
	border-radius: 10px;
	background-color: #00004d;
}

.categorie h3
{
	padding: 5px;
	padding-left: 30px;
	text-align:left;
	font-family:gunplay;
	font-weight:normal;
	letter-spacing:1px;
}

.categorie
{
	text-align:center;
}

.produit
{
	position:relative;
	text-align:center;
	display:inline-block;
	margin:20px 30px;
	border-bottom: 3px solid rgba(220,220,220,0.8);
	cursor: pointer;

	background:linear-gradient(rgba(255,255,255,0.8), rgba(220,220,220,0.8));
	border-radius:5px;
	padding:15px;
	box-shadow:0 2px 20px black;

}

.produit:hover
{
	border-bottom-color: #00004d;
}

.legende
{
	margin-top:10px;
	font-family:gunplay;
	line-height: 1.3em;
}

.prix
{
	font-size:0.9em;
}


#boutton_commentaire{
	margin-top: 10px;
}

#forum{
	margin: 20px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	padding: 60px;
	padding-bottom: 20px;
	padding-top: 30px;
	border-radius: 3px;
}

#forum h2{
	margin-bottom: 20px;
	color: #000024;
	font-size: 35px;
}

#affichage_commentaire{
	margin-top: 15px;
	margin-left: 20px;
	background-color: #adf4ff;
	height:100px;
	width: 80%;
	padding: 15px;
	box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
}

#zone_commentaire{
	margin-top: 15px;
}
