*{	padding:0;
	margin:0;
	}

#logo_menu_connexion{
	display: flex;
}

#connexion{
	margin-top: 20px;
	margin-right: 2%;
}

#connexion h4{
	font-size: 20px;
}

#menu{
	margin-left:1%;
	margin-right: 50%;
	display: flex;
	width: 80%;
}

#logo{
	margin-left: 40px;
}

#menu h3 {
	margin-top:30px;
	margin-left: 30%;
	text-align: center;
	font-size: 25px;
	white-space: nowrap;
}

#menu div h3{
	text-align: center;
	font-size: 25px;
	white-space: nowrap;
	margin: 0
}

#menu div {
	margin-top:30px;
	margin-left: 30%;
}

#contenumilieu{
	height:auto;
	margin-top: 98px;
	background-color: white;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	flex-shrink: 3;
	width: 1700px;
}

#contenuenbas p {
	text-align: center;
	color: white;
	padding-top: 7px;
	font-size: 15px
}

#contenugauche {
	width: 15%;
	height:auto;
	max-width: 102px;
	}

#contenudroit {
	width: 15%;
	height:auto;
	z-index: -1;
	max-width: 102px;
}

#contenuenbas {
	width: 100%;
	height: 30px;
	background-color: #00004d;
	}


#informations{
	height:5%;
	width:100%;
	display:flex;
	font-size: 15px;
	margin-bottom: 3px;
	margin-left: 10%;
}

#header{
	width:100%;
	position:fixed;
	color:white;
	background-color: #00004d;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}


main{
	display:flex;
	background-image: linear-gradient(to right top, #daecff, #d8f0ff, #d6f3ff, #d5f7ff, #d6faff);
	min-height: 914px;
}

a {
	color: inherit;
	text-decoration: none;
}


#ligne{
	background-color: white;
	width: 100%;
	height: 3px;
}


#informations li{
	margin-right: 4%;
}

.boutton{
	height: 40px;
	width: 140px;
	color: white;
	font-size: 21px;
	background-color: #000836;
	padding: 10px;
	text-align: center;
	border-radius: 2px;
	border: none;
	font-family: inherit;
	margin-left: 20px;
}

.boutton:hover{
	background-color: #000B4D;
}

.dropdown-content {
  display: none;
	position: absolute;
	z-index: 1;
	background-color: #000F52;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	top: 3px;
	left: -50px;
	font-size: 20px;
}

.dropdown-content a {
  padding: 12px 16px;
  display: block;
}

.dropdown-content a:hover {
	background-color: #000E4C;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown{
  display: inline-block;
	position: relative;
}

.hover_link:hover{
	text-decoration: underline;
}

#reservation_formulaire{
	display:flex;
}

#reservation{
	margin: 20px;
	padding: 60px;
	padding-top: 30px;
	padding-bottom: 20px;
	box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
	border-radius: 3px;
	font-size: 20px;
}

#reservation_formulaire div{
	margin-right: 3%;
}

#reservation h2{
	margin-bottom: 20px;
	color: #000024;
	font-size: 35px;
}


#taille{
	font-size: 30px;
	color : white;
}
#block_bleu{
	background-color:#000836 ;
}

#Inscription_formulaire{
	margin-right: 150px;
}

.item{
	margin: 10px;
	margin-right: auto;
	margin-left: auto;
	float: right;
	display: flex;
	font-size: 20px;
}

#Inscription h2{
	  margin-top: 20px;
    margin-bottom: 20px;
		text-align: center;
    color: #000024;
    font-size: 35px;
}

#center{
	margin-top: 20px;
	max-width: 300px;
	white-space:nowrap;
	margin: auto;
}

.boutton2{
    height: 40px;
    width: 140px;
    color: white;
    font-size: 21px;
    background-color: #000836;
    padding: 10px;
    text-align: center;
    border-radius: 2px;
    border: none;
    font-family: inherit;
    margin-left: 20px;
    margin-top: 30px;
}
#Connexion_formulaire{
	display: flex;
}
#Connexion_formulaire{
    margin: 20px;
    padding: 30em;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 20px;
		flex-direction: column;
}

#Connexion div{
	margin-right: auto;
	margin-left: auto;
}

#Connexion h2{
		margin-top: 20px;
    margin-bottom: 20px;
		text-align: center;
    color: #000024;
    font-size: 35px;
}
